{% extends '../base.html' %}

{% block content %}

        <div class="critic_management">
           <button><a href="{% url 'ticket-create' %}">Demander une critique</a></button>
            <button><a href="../create_critic">Créer une critique</a></button>
        </div>
        <p>Liste des tickets : </p>
                    <ul>
                        {% for ticket in tickets %}
                            {% if ticket.user == request.user  %}
                            <li><a href="{% url 'flux-detail' ticket.id %}">{{ ticket.title }}</a> <button><a href="../answer_critic?demand={{ticket.title}}">Créer une critique</a></button></li>
                            {% endif %}
                        {% endfor %}
                    </ul>

{% endblock %}