{% extends '../base.html' %}
{% load critics_extras %}
{% block content %}
<article class="ticket">
    <div class="top_ticket">
        <p>{% get_detail_instance_user user "review" %} publié une critique</p>
        <p>Le {{ review.time_created }}</p>
    </div>
    <h1>{{ review.headline }}</h1>
    <div class="rating">
       {% for rating in review|starring %}
            <i class="fa-solid fa-star"></i>
        {% endfor %}
        {% for rating in review|antistarring %}
            <i class="fa-regular fa-star"></i>
        {% endfor %}
    </div>

    <p>{{ review.body }}</p>
    {% if review.ticket.image %}
        <img class="ticket_image" src="{{ review.ticket.image.url}}" alt="">
    {% endif %}
    <p><a href="{% url 'flux' %}">Revenir au flux</a></p>
</article>

{% endblock %}