{% extends '../base.html' %}

{% block content %}

<section class="forms">
    <h1>Utilisateurs suivis</h1>
    {% for followed in followed_users %}
    <p>{{ followed.followed_user }} <button><a href="{% url 'unsubscribe' followed.id %}">Se désabonner</a></button></p>
    {% endfor %}

    <h1>Suivre d'autres utilisateurs</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Envoyer">
    </form>
</section>

{% endblock %}