{% extends '../base.html' %}
{% load critics_extras %}
{% block content %}
<article class="ticket">
    <div class="top_ticket">
        <p>{% get_detail_instance_user user "ticket" %} demandé une critique</p>
        <p> le {{ ticket.time_created }}</p>
    </div>
    <h1>{{ ticket.title }}</h1>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
        <img class="ticket_image" src="{{ ticket.image.url}}" alt="">
    {% endif %}
    <p><a href="{% url 'flux' %}">Revenir au flux</a></p>
</article>

{% endblock %}