header {
position:fixed;
top:2px;
height:80px;
width:100%;
}

.critic_management {
position: fixed;
top: 82px;
height:50px;
width: 100%;
background-color: grey;
}

.critic_management button {
margin:10px;
}

body {
margin-top:100px;
display: flex;
flex-direction: column;
color: black;
background-color: lightgrey;
}

.errorlist
{
color:red;
}

nav {
display:flex;
justify-content: space-around;
align-items:center;
background-color: black;
color: white;
}

nav a {
color: white;
text-decoration: none;
}

.account_management {
display:flex;
flex-direction: column;
}

.display_username {
color:cyan;
}

.forms {
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
border: 2px black solid;
padding: 10px;
width:auto;
}

.forms form {
display:flex;
flex-direction: column;
align-items:center;
}

.forms form>p {
display: flex;
text-align:center;
flex-direction: column;
}

.forms form>p input{
width: 200px;
align-self:center;
}

.forms button {
background-color: aquamarine;
width:fit-content;
}

.valid-cancel {
flex-direction:row;
}

.valid-cancel button{
margin-left:50px;
}

.valid-cancel a {
text-decoration: none;
color: black;
}

.critic_management a {
text-decoration:none;
color:black;
}

.profile-photo {
width : 85px;
clip-path: ellipse(33% 50%);
}

/*.ticket_image {
width:100px;
}*/

.ticket {
display: flex;
flex-direction: column;
width: 80%;
margin: auto;
border: black 2px solid;
padding: 15px;
}

.top_ticket {
display: flex;
justify-content: space-around;
}

.critic_management {
display: flex;
justify-content: center;
}

.critic_management button {
margin-left: 25px;
margin-right: 25px;
}

article {
}

article button, article a, article img {
width: fit-content;
align-self: center;
margin-top:15px;
}

article button a {
text-decoration: none;
color: black;
}

.post_management {
display: flex;
justify-content: center;
}

.post_management button {
margin-left: 25px;
margin-right: 25px;
}

.delete_management button, .delete_management input {
background-color: aquamarine;
margin-top: 10px;
margin-left:25px;
margin-right: 25px;
}

.delete_management a {
text-decoration: none;
color: black;
}

#id_rating {
display: flex;
}

#id_rating >div {
margin-left:20px;
margin-right:20px;
}